<div class="container">
  <div class="row">
    <div class="list-title page-header">
      <div class="text-center">
        <h1>Mon Dashboard</h1>
      </div>
    </div>
  </div>
</div>

<div class="row">
    <div class="list-title page-header">
      <div class="text-center">
        <h2>Aujourd'hui</h2>
        <%= l @today, format: :short %>
      </div>
    </div>
</div>

  <% @kids.each do |kid| %>
    <div class="row">
      <div class="col-xs-8 col-xs-offset-2 col-sm-4 col-sm-offset-1">
        <h3 class="bordeaux"><%= kid.first_name.capitalize %></h3>
          <% kid_age = Time.now.to_date.years_months_days_since(kid.birthdate) %>
          <p><%= "#{kid.first_name} a"%> <%= kid_age[0] %> ans, <%= kid_age[1] %> mois et <%= kid_age[2] %> jour(s)</p>
          <% kid.current_camp.kids.each do |other_kid| %>
            <% if other_kid.is_birthday? %>
              <p> Happy Birthday <%= "#{@other_kid.first_name}"%></p>
            <% end %>
          <% end %>
            <br>
            <p class="bordeaux">Journal de la classe </p>
            <br>
            <p class="bordeaux">Annuaire des copains de classe</p>
    </div>

      <div class="col-xs-8 col-xs-offset-2 col-sm-4 col-sm-offset-1">
        <br>
        <br>
        <br>
        <p class="bordeaux">Ses invitations</p>
        <% current_parent.events.each do |event| %>
          <p>Le <%= l event.ends_at %></p>
          <p><%= event.name %></p>
          <p><%= event.description %></p>
          <% event.guests.each do |guest| %>
            <p> Avec <%= guest.parent.first_name %> <%" "%> <%= guest.parent.last_name %></p>
          <% end %>
        <% end %>
        <br>
        <br>
        <br>
      </div>
    </div>
  <% end %>
</div>

