<div class="banner">
  <h1>Ma share école</h1>
  <h2>Le réseau parental qui vous simplifie la vie!</h2>
  <br>
  <!-- ajouter une barre de recherche  -->

</div>

<div class="backgroundSearch text-center">
  <div class="container">
    <div class="row">
      <p>Je trouve mon école</p>
      <div class="col-xs-10 col-sm-6 col-md-6 col-lg-4 col-xs-offset-1 col-sm-offset-3 col-md-offset-3 col-lg-offset-4">
        <%= form_tag "/", method: :get, class: "form-inline" do %>
          <div class="form-group">
            <input type="text" class="form-control" id="query" name="school_address">
          </div>
          <input type="submit" class="btn btn-primary" value="Go">
        <% end %><!-- /input-group -->
      </div><!-- /.col-lg-6 -->
    </div><!-- /.row -->
    <div class="row">
      <p id="add_new_school">Je n'ai pas trouvé mon école...</p>
      <!-- Indicates a successful or positive action -->
      <div>
        <%= link_to "je l'ajoute ici !", new_school_path, class: "btn btn-default" %>
      </div>
    </div>
  </div>
</div>

<div class="container pictos">
  <div class="row">
    <div class="col-xs-6 col-md-3 text-center">
      <%= image_tag "messharecontacts.png" %>
    </div>
    <div class="col-xs-6 col-md-3 text-center">
      <%= image_tag "mashareecole.png" %>
    </div>
    <div class="col-xs-6 col-md-3 text-center">
      <%= image_tag "mashareurgence.png" %>
    </div>
    <div class="col-xs-6 col-md-3 text-center">
      <%= image_tag "masharetirelire.png" %>
    </div>
  </div>
</div>