  <%= bootstrap_form_for [@school, @event] do |f| %>
    <div class="field">
      <%= f.label :name %>
      <br/>
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :description %>
      <br/>
      <%= f.text_field :description %>
    </div>
    <div class="field">
      <%= f.label :starts_at %>
      <br/>
      <%= f.text_field :starts_at %>
    </div>
    <div class="field">
      <%= f.label :end_date %>
      <br/>
      <%= f.text_field :end_date %>
    </div>


    <h2>Guests</h2>
    <div id="guests">
      <%= f.fields_for :guests do |guest| %>
        <%= render 'guest_fields', :f => guest %>
      <% end %>
      <div class="links">
        <%= link_to_add_association 'add guest', f, :guests %>
      </div>
    </div>
    <%= f.submit %>
<% end %>
