<%= bootstrap_form_for([@school, @advert], html: { multipart: true }) do |f| %>
  <div> <strong>THEME</strong> </div>
  <% Advert::CATEGORIES.each do |category| %>
    <div class="checkbox">
      <label>
        <%= check_box_tag "advert[category_list][]", category, @advert.category_list.include?(category), class: "checkbox" %>
        <%= t "adverts.categories.#{category}" %>
      </label>
    </div>
  <% end %>

  <%= f.select :transaction_type, Advert::TRANSACTION_TYPES.map { |type| [ t("adverts.transaction_types.#{type}"), type] } %>
  <%= f.text_field :title %>
  <%= f.text_area :description, label: "DESCRIPTION", placeholder: "" %>
  <%= f.number_field :price_cents, label: "VOTRE PRIX", placeholder:"" %>

  <%= f.label :@advertpicture.picture %>
  <%= f.text_field :@advertpicture.picture %>
  <%= f.submit "Vérifier votre annonce", class: "btn btn-primary" %>
<% end %>

edit_school_advert_path
<%= link_to 'Retour', school_adverts_path(@school),class: "btn btn-primary" %>