<h1>
  <div class="text-center">
    Petites annonces des familles : c'est facile, vous vous croisez déjà à l'école !
  </div>
</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Category</th>
      <th>Transac</th>
      <th>Price cents</th>
      <th>Published</th>
      <th>Sold</th>
      <th>Parent</th>
      <th>School</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @adverts.each do |advert| %>
      <tr>
        <td><%= advert.title %></td>
        <td><%= advert.description %></td>
        <td><%= advert.category %></td>
        <td><%= advert.transac %></td>
        <td><%= advert.price_cents %></td>
        <td><%= advert.published %></td>
        <td><%= advert.sold %></td>
        <td><%= advert.parent %></td>
        <td><%= advert.school %></td>
        <td><%= link_to 'Show', advert %></td>
        <td><%= link_to 'Edit', edit_advert_path(advert) %></td>
        <td><%= link_to 'Destroy', advert, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Advert', new_advert_path %>
