
<div class="container text-center">
  <div class="row">
    <div class="col-xs-12 text-center">
        <h1>Les share annonces de l' <%= "#{@school.name}"%></h1>
    </div>
  </div>
</div>

<div class="vertical_space"></div>

<div class="container text-center">
  <div class="row">
    <div class="col-xs-12 text-center">
      <h2>C'est facile, vous vous croisez tous les jours <%= "#{@school.address}"%></h2>
    </div>
  </div>
</div>

<div class="vertical_space"></div>
      <br>
      <br>
      <br>

<div class="container text-align">
  <% @adverts.each do |advert| %>
    <div class="row">
      <div class="col-sm-2">
        <%= advert.categories.map{|c| c.name}.join(", ") %>
      </div>
      <div class="col-sm-2">
        <%= advert.transaction_type %>
      </div>
      <div class="col-sm-3">
        <%= advert.title %>
      </div>
      <div class="col-sm-2">
        <%= advert.price_cents %>
      </div>
      <% if advert.advertpictures.size > 0 %>
        <div class="col-sm-3">
          <%= image_tag advert.advertpictures.first.picture(:thumb) %>
        </div>
      <% end %>
      <br>
      <br>
      <br>
    </div>
   <% end %>
 </div>
