
<div class="container">
  <div class="row">
    <div class="list-title page-header">
      <div class="text-center">
        <h1>Les share annonces des familles </h1>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="list-title page-header">
      <div class="text-center">
        <h2>c'est facile, vous vous croisez tous les jours</h2>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-"" col-sm-1">
         <%= image_tag "messhareloisirs.png"%>
    </div>
  </div>
</div>

<div class="container">
  <div class="row well">
    <div class="col-sm-3">
      <div>Thème</div>
    </div>
    <div class="col-sm-3">
      <div>Opportunités</div>
    </div>
    <div class="col-sm-3">
      <div>Titre</div>
    </div>
    <div class="col-sm-3">
      <div>Prix</div>
    </div>
  </div>
</div>
  <tbody>
    <div class="container">
      <% @adverts.each do |advert| %>
        <div class="row well">
          <div class="col-sm-3">
            <%= advert.categorie %>
          </div>
          <div class="col-sm-3">
            <%= advert.transaction_type %>
          </div>
          <div class="col-sm-3">
            <%= advert.title %>
          </div>
          <div class="col-sm-1">
            <%= advert.price_cents %>
          </div>
          <div class="col-sm-1">
            <%= link_to 'Voir le détail', advert %>
          </div>
        </div>
      <% end %>

        <div class="row">
          <div class="col-sm-3">
            <%= link_to 'Publiez une annonce', new_advert_path %>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-3">
            <%= link_to 'Retour', new_advert_path %>
          </div>
        </div>
    </div>
</tbody>


