<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @advert.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @advert.description %>
</p>

<p>
  <strong>Categorie:</strong>
  <%= @advert.categorie %>
</p>

<p>
  <strong>Transaction_type:</strong>
  <%= @advert.transaction_type %>
</p>

<p>
  <strong>Price cents:</strong>
  <%= @advert.price_cents %>
</p>

<p>
  <strong>Published:</strong>
  <%= @advert.published %>
</p>

<p>
  <strong>Sold:</strong>
  <%= @advert.sold %>
</p>

<p>
  <strong>Parent:</strong>
  <%= @advert.parent %>
</p>

<p>
  <strong>School:</strong>
  <%= @advert.school %>
</p>

<%= link_to 'Edit', edit_advert_path(@advert) %> |
<%= link_to 'Back', adverts_path %>
