<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @advert.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @advert.description %>
</p>

<p>
  <strong>Categorie:</strong>
  <%= @advert.categorie %>
</p>

<p>
  <strong>Transaction_type:</strong>
  <%= @advert.transaction_type %>
</p>

<p>
  <strong>Price cents:</strong>
  <%= @advert.price_cents %>
</p>


<%= link_to 'Edit', edit_advert_path(@advert) %> |
<%= link_to 'Retour', adverts_path %>
