<nav class="navbar navbar-default navbar-fixed-top navbar-wagon" role="navigation">
  <div class="container-fluid">
<!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to root_path, class: "navbar-brand" do %>
        <%= image_tag "mashareecole.png", id: "logo" %>
      <% end %>
    </div>
<!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <% if parent_signed_in? %>
        <li class="sign-out"><%= link_to 'Sign out', destroy_parent_session_path, method: 'delete' %></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
            <img src="http://placehold.it/30x30" id="profile-pic" alt="">Rejoignez-nous<span class="caret"></span>
          </a>
        <% else %>
        <li class="sign-in"><%= link_to 'Sign in', new_parent_session_path %></li>
        <li class="sign-up"><%= link_to 'Sign up', new_parent_registration_path %></li>
        <% end %>
      </ul>
          <ul class="dropdown-menu" role="menu">
            <li>
              <a href="https://www.facebook.com/lewagonformation"><i class="fa fa-facebook-square"></i> Facebook</a>
            </li>
            <li>
            <a href="https://twitter.com/lewagonparis"><i class="fa fa-twitter-square"></i> Twitter</a>
            </li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
